
html,
body {
    margin: 0;
}
.section{
    background-image: url("./images/fons.jpg");
    background-size: 100%;
    
}
.menu{
    justify-content: flex-end;
    justify-content: space-around;
    display: flex;
}
.main {
    justify-content: center;
    align-items: center;
    color: #ffffff;
    display: flex;
    font-size: 100px;
}
.main_2 {
    justify-content: center;
    justify-content: space-around;
    color: blue;
    display: flex;
    font-size: 35px;
}
.main_3{
    justify-content: center;
    display: flex;
    color: #ffffff;
}

.bloks{ 
    height: 450px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50px;
}
.head{
    background: url("./images/background.png") no-repeat;
    background-size: 100%;
}
.bukvy{
    display: flex;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    font-size: 30px;
    margin-top: ;

}
